# Default project ownership: any code owner may approve.
* @namanhtran99 @forrestnguyen27 @T-Hari

# Subsystem ownership.
/gui/ @namanhtran99
/rover/control/ @forrestnguyen27
/rover/autonomous/ @T-Hari
/rover/shared/ @forrestnguyen27 @T-Hari
