# Default project ownership: any code owner may approve.
* @deakin_robotics @namanhtran99 @forrestnguyen27 @T-Hari

# Subsystem ownership.
/gui/ @deakin_robotics @namanhtran99
/rover/control/ @deakin_robotics @forrestnguyen27
/rover/autonomous/ @deakin_robotics @T-Hari
/rover/shared/ @deakin_robotics @forrestnguyen27 @T-Hari
