<header class="top-bar">
  <div class="brand-area">
    <button
      matIconButton
      type="button"
      aria-label="Open operator views"
      [matMenuTriggerFor]="operatorMenu"
    >
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>

    <div class="brand" aria-label="Deakin Rover Mission Control">
      <div class="brand-mark" aria-hidden="true">DCR</div>
      <div>
        <p>Deakin Rover</p>
        <h1>Mission Control</h1>
      </div>
    </div>
  </div>

  <app-mission-control-fma />

  <div class="global-actions">
    <button
      matButton="outlined"
      type="button"
      class="estop-placeholder"
      disabled
      matTooltip="Emergency stop is not implemented yet"
    >
      <mat-icon aria-hidden="true">emergency</mat-icon>
      E-stop
    </button>
  </div>

  <mat-menu #operatorMenu="matMenu" aria-label="Operator views">
    <a mat-menu-item routerLink="/pilot">
      <mat-icon aria-hidden="true">sports_esports</mat-icon>
      Pilot
    </a>
    <a mat-menu-item routerLink="/arm">
      <mat-icon aria-hidden="true">precision_manufacturing</mat-icon>
      Arm
    </a>
    <a mat-menu-item routerLink="/ecam">
      <mat-icon aria-hidden="true">warning_amber</mat-icon>
      ECAM
    </a>
  </mat-menu>
</header>
