:host {
  --mission-control-top-bar-height: calc(4.5rem + 1.3rem + 1px);

  display: block;
  min-height: 100dvh;
}

.mission-control-shell {
  min-width: 20rem;
  min-height: 100dvh;
  // background:
  //   radial-gradient(
  //     circle at 50% -12rem,
  //     color-mix(in srgb, var(--dcr-color-info) 10%, transparent),
  //     transparent 38rem
  //   ),
  background: var(--dcr-color-background);
  color: var(--dcr-color-text);
}
